<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue JS</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <button v-on:click="counter++" v-model="counter">Increment</button>
        <button v-on:click="counter--" v-model="counter">Decrement</button>
        <h1> The value of counter is: {{counter}}</h1>
    </div>

    <script>
        var myVueInstance = new Vue({
            el: "#app",
            data: {
                counter: 0
            }
        })
    </script>
</body>

</html>