<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue JS</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .yes {
            color: green;
            font-size: 50px;
        }

        .no {
            color: red;
            font-size: 50px;
        }
    </style>
</head>

<body>
    <div id="app">
        <form>
            <input type="text" placeholder="Enter your name here" id="inputName" v-model="name">
            <h1 v-if="name=='Pikachu' && checkName(name)" :class="'yes'">Access Granted welcome
                Mr/Ms.{{name}}</h1>
            <h1 v-else :class="'no'">Access Denied Sorry Mr/Ms. {{name}}</h1>
        </form>
    </div>

    <script>
        var vueInstance = new Vue({
            el: "#app",
            data: {
                name: "Pikachu",
                isActive: false
            }
        })
    </script>
</body>

</html>